<div class="bounding-box">
  <div class="parent">
    <mat-icon>post_add</mat-icon>
    <ul>
      <textarea
        cdkDrag
        cdkDragBoundary=".bounding-box"
        style="z-index: 1"
        (cdkDragEnded)="onDragEnded($event)"
        class="text"
      >
      </textarea>

      <textarea
        cdkDrag
        cdkDragBoundary=".bounding-box"
        style="z-index: 2"
        (cdkDragEnded)="onDragEnded($event)"
        class="text"
      ></textarea>

      <textarea
        cdkDrag
        cdkDragBoundary=".bounding-box"
        style="z-index: 3"
        (cdkDragEnded)="onDragEnded($event)"
        class="text"
      >
      </textarea>
    </ul>

    <ul>
      <div>
        <mat-icon>videocam</mat-icon>
        <video
          cdkDrag
          cdkDragBoundary=".bounding-box"
          style="z-index: 1"
        ></video>
        <video
          cdkDrag
          cdkDragBoundary=".bounding-box"
          style="z-index: 2"
        ></video>
        <video
          cdkDrag
          cdkDragBoundary=".bounding-box"
          style="z-index: 3"
          (cdkDragEnded)="onDragEnded($event)"
        >
          <mat-icon>videocam</mat-icon>
        </video>
      </div>
    </ul>
    <ul>
      <div>
        <mat-icon>image</mat-icon>
        <img cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 1" />
        <img cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 2" />
        <img cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 3" />
        <img cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 4" />
        <img cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 5" />
      </div>
    </ul>
    <ul>
      <mat-icon cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 1"
        >music_note</mat-icon
      >
      <mat-icon cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 2"
        >music_note</mat-icon
      >
      <mat-icon cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 3"
        >music_note</mat-icon
      >
      <mat-icon cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 4"
        >music_note</mat-icon
      >
      <mat-icon cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 5"
        >music_note</mat-icon
      >
      <mat-icon cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 6"
        >music_note</mat-icon
      >
      <mat-icon cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 7"
        >music_note</mat-icon
      >
    </ul>
    <ul>
      <mat-icon cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 1"
        >music_off</mat-icon
      >
      <mat-icon cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 2"
        >music_off</mat-icon
      >
      <mat-icon cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 3"
        >music_off</mat-icon
      >
      <mat-icon cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 4"
        >music_off</mat-icon
      >
      <mat-icon cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 5"
        >music_off</mat-icon
      >
      <mat-icon cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 6"
        >music_off</mat-icon
      >
      <mat-icon cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 7"
        >music_off</mat-icon
      >
      <mat-icon cdkDrag cdkDragBoundary=".bounding-box" style="z-index: 8"
        >music_off</mat-icon
      >
    </ul>
  </div>
</div>
